{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'polls/css/index.css' %}">
    <title>Bet App</title>
    <style>
        body{
            background-color: rgb(247, 239, 215);
        }
    </style>
</head>
<body>
    <div>
        Hello World!

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>