.main-background {
    padding: 10px;
}
.main-updates-container {
    margin: 0 0 30px 0;
}
.main-title-card {
    color: #e1521d;
    border-bottom: 1px solid #e1521d;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}
.main-updates-card {

}
.main-pending-container {
    margin: 0 0 30px 0;
}
.main-pending-card {
    display: flex;
    flex-direction: row;
}
.main-highlights-container {

}
.main-highlights-card {
    display: flex;
    overflow-x: scroll;
}
.main-highlights-box {
    height: 200px;
    margin: 0 10px 0 0;
    background-color: #e1521d;
    min-width: calc(100vw - 180px);
}
.main-highlights-box:nth-last-child(1) {
    margin-right: 0px;
}
