.new-poll-first-step-background {
    padding: 72px 20px 20px;
}
.new-poll-first-step-container {

}
.new-poll-first-step-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 30px 0;
}
.new-poll-first-step-field {
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.new-poll-first-step-field-text {
    color: dimgray;
}
.new-poll-first-step-password-textfield {
    margin: 10px 0 25px 0;
}
.new-poll-first-step-password-textfield .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}
.new-poll-first-step-button-container {
    margin: 25px 0 0 0;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
}
.new-poll-first-step-button {
    width: 100%;
}
.new-poll-second-step-background {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 52px 0px 0px;
}
.new-poll-second-step-header {
    padding: 20px;
    border-bottom: 1px solid #1976d2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}
.new-poll-second-step-header-title {
    font-weight: bold;
}
.new-poll-second-step-header-button {

}
.new-poll-second-step-card {
    margin: 40px 20px;
    border: 2px solid dimgray;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow: 0px 2px 26px 20px rgba(0,0,0,0.75);
}
.new-poll-second-step-card-title{
    position: absolute;
    top: -20px;
    color: #df1212;
    padding: 5px 8px;
    background-color: white;
    border: 1px solid dimgray;
}
.new-poll-second-step-card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 20px 0;
}
.new-poll-second-step-card-header-title {
    margin: 0 0 0 6px;
}
.new-poll-second-step-card-header-icon {

}
.new-poll-second-step-card-container {

}
.new-poll-second-step-card-field {
    margin: 0 0 25px 0;
}
.new-poll-second-step-card-field:nth-last-child(1){
    margin-bottom: 0px;
}
.new-poll-second-step-card-toggle-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-poll-second-step-card-toggle-title {

}
.new-poll-second-step-card-toggle-button {

}
.new-poll-second-step-card-field-textfield {

}
.new-poll-second-step-card-field-textfield-description {

}
.new-poll-second-step-card-field-textfield-button {

}
.new-poll-second-step-card-answers-options {
    border: 1px solid #dbdbdb;
}
.new-poll-second-step-card-answers-options-container {

}
.new-poll-second-step-card-answers-options-title{
    margin: 0 0 10px 0;
}
.new-poll-second-step-card-answers-options-component {

}
.new-poll-second-step-card .css-ft4jij-MuiDivider-root{
    margin: 20px 0;
}
.new-poll-second-step-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.new-poll-second-step-button {
    width: 100%;
}
.new-poll-second-step-button:nth-child(2){
    margin: 0 0 0 20px
}
.new-poll-second-step-card-button {
    margin: 0px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.new-poll-second-step-card-button .css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
    background-color: #cd0c0c;
    color: #fff;
    font-weight: bold;
    padding: 12px 16px;
    font-size: 1rem;
    box-shadow: 5px 5px 5px dimgray;
    margin: 0 2px;
}
.new-poll-second-step-list {
    margin: 20px;
    flex: 1;
}
.new-poll-second-step-list-title{
    margin: 0 0 5px 0;
}
.new-poll-second-step-list-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 15px;
    margin: 0 0px 12px 0;
}
.new-poll-second-step-list-card-title {
    font-weight: 700;
}
.new-poll-second-step-list-card-icon {

}
.new-poll-second-step-list-card-icon .material-icons{

}
.new-poll-third-step-background {
    padding: 52px 0px 0px;
}
.new-poll-third-step-photo {

}
.new-poll-third-step-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.new-poll-third-step-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.new-poll-third-step-button:nth-child(2){
    margin: 0 0 0 20px
}
.new-poll-second-step-card-close-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid black;
    background-color: #dbdbdb;
    color: black;
    position: sticky;
    top: 50px;
    z-index: 2;
}
.new-poll-second-step-card-close-button-text{
    
}
.new-poll-second-step-card-close-button .material-icons{

}
.new-poll-empty-bets-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.new-poll-empty-bets-title {
    font-size: 17px;
    font-weight: 800;
}
.new-poll-empty-bets-subtitle {
    font-size: 13px;
    margin: 15px 0;
}
.new-poll-empty-bets-image {
    width: 80px;
}
